<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
    </head>

    <body>
        <div class="parent">
            <div id="app_text">
                <form action="/" method="POST" class="form">
                    <input type="text" v-model="myName"><br>
                    [[myName]]
                </form>
            </div>
            <div class="child">
                <h1>Item1</h1>
            </div>
        </div>
        <div class="child">Item2
            <div id="app_select">
                <form action="/" method="POST">
                    <select name="os">
                        {% for os in oslist %}
                        <option value="{{os}}">{{os}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="送信"><input type="reset" value="リセット">
                </form>
            </div>
        </div>
        <div class="child">Item3</div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script>
            new Vue({
                el: "#app_text",
                delimiters: ['[[', ']]'],
                data: {
                    myName: "匿名",
                }
            })
            new Vue({
                el: "#app_select",
                delimiters: ['[[', ']]'],
                data: {
                    myName: "匿名",
                }
            })
        </script>
    </body>

</html>
